
body {
  /* Ubicación de la imagen */
  background: url(../imagenes/fondo.jpg);
  /* Nos aseguramos que la imagen de fondo este centrada vertical y
    horizontalmente en todo momento */
  background-position: center center;
  /* La imagen de fondo no se repite */
  background-repeat: no-repeat;
  /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando la altura del contenido supere la altura de la imagen. */
  background-attachment: fixed;

  /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
     del navegador */
  background-size: cover;
  /* Fijamos un color de fondo para que se muestre mientras se está
    cargando la imagen de fondo o si hay problemas para cargarla  */
  /*background-color: #464646;*/
}

div#contenedorimagenc{
  display:flex;
  width:100%;
  height:100%;
  align-items:center;

}

.lineaLi{
  border-bottom: 1px solid cyan;
  background-color: #F8F8F8;
}

.side-nav li a:focus{
background-color: #fff !important;
}

.side-nav li a:hover{
    color: #fff;
    background-color: blue  !important;
}

/*#page-wrapper{
  width: 100px;
}*/
#fondo{
  background-color: #F8F8F8;
  font-family: "Arial";
  font-size: 15px;


}

label.error, label span.error {
    color: #e74c3c;
    margin: 5px 0 0 0;
    font-weight: 400;
}
/*.content-central{
  width: 100%;
  display:flex;
  /*flex-flow: column wrap;*/
  /*justify-content: center; centra */


/*.content-proveedor{
  background: rgba(36, 44, 44, 0.5);
  width: 90%;
  height: 100vh;
}*/
.fondoCalendario{
  background-color: #F8F8F8;
  width: 60%;

}
.titleh2{
  font-weight: bold;
  color:#0B4C5
  F;
  text-shadow: 1px 1px gray;
  font-size: 2em;
}
/*diseño tabla*/
.tablaGeneral{
  background:#fff;
  color:black;
  text-align: center;
  border-radius: 10px;

}

.tablaHead{
  background:teal;
  text-align: center;
  color:#fff;

}
 th,td{
  text-align: center;

}
.botonPaginador{
  background: #FE2E2E;
  color:#fff;
  margin-right: 5px;

}

.tablaFilas:nth-child(even){
  background:#E6E6E6;
}
/*@media (max-width: 1300px) {
  .content-proveedor{
    background:red;

  }
  .tablaGeneral{
    max-width: : 1300px;
  }
  .contenedorProveedor{
    max-width: : 1300px;
  }

}*/
.contenido-ventas{
    width: 100%;
    min-height: 100%;
    float: left;
    padding-top: 2rem;
}

nav.sidebar, .main{
-webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

.main{
  position: absolute;
  width: calc(100% - 40px);
  margin-left: 40px;
  float: right;
}

nav.sidebar:hover + .main{
  margin-left: 200px;
}

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

nav.sidebar a{
  padding-right: 13px;
}

nav.sidebar .navbar-nav > li:first-child{
  border-top: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav > li{
  border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
  padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}

nav.sidebar{
  width: 200px;
  height: 100%;
  margin-left: -160px;
  float: left;
  margin-bottom: 0px;
}

nav.sidebar li {
  width: 100%;
}

nav.sidebar:hover{
  margin-left: 0px;
}

.forAnimate{
  opacity: 0;
}
}

/*==> Tabla ventas <==*/

.tabla-ventas{
    padding: 1rem;
    border: .2rem solid green;
}

#btn--{
margin-left: 1rem;
}

@media (min-width: 1330px) {

.main{
  width: calc(100% - 200px);
  margin-left: 200px;
}

nav.sidebar{
  margin-left: 0px;
  float: left;
}

nav.sidebar .forAnimate{
  opacity: 1;
}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
color: #CCC;
background-color: transparent;
}

nav:hover .forAnimate{
opacity: 1;
}
section{
padding-left: 15px;
}
.navbar{
    padding: 0rem 0 !important;
    background-color: #ffffff;
    z-index: 2 !important;
    border-bottom: 1px solid #c0c0c0 !important;
}

.navbar a{
    color: #000;
    font-size: 2rem;

    transition: all 1s;
}

.navbar a:hover{
    background: transparent!important;
    color: cadetblue;
}

.navbar-toggle{
    border: 1px solid #333 !important;
}

.navbar-toggle .icon-bar{
    color: #444 !important;
    background-color: #333 !important;
}

.modal-backdrop{
    z-index: 10 !important;
}
